body {
    font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
        color:#555555;
          background-color:#088599;
            margin:0 auto;
              padding:0;
}
* {
    margin:0;
      padding:0;
}


/** element defaults **/
table {
    width:100%;
      font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
          text-align:left;
}
th, td {
    padding:5px 10px;
}
th {
    color:#fff;
      border-top:3px solid #0088c4;
        background-color:#5ebdea;
}
td {
    border-bottom:0px solid #f4f4f4;
}
code, blockquote {
    display:block;
      border-left:5px solid #ddd;
        padding:10px;
          margin-bottom:20px;
}
blockquote p {
    font-style:italic;
      font-family:Georgia, "Times New Roman", Times, serif;
        margin:0;
          height: 1%;
}
p {
    line-height:1.9em;
      margin-bottom:20px;
}
a {
    color:#666;
}
a:hover {
    color:#0088c4;
}
a:focus {
    color:#000;
      outline:none;
}
a.blue {
    color:#0088C4;
      text-decoration: none;
}
a.blue:hover {
    color:#0088c4;
      text-decoration: underline;
}
fieldset {
    display:block;
      border:none;
        border-top:1px solid #e0e0e0;
}
fieldset legend {
    font-weight:bold;
      font-size:13px;
        padding-right:10px;
          color:#222;
}
fieldset form {
    padding-top:15px;
}
fieldset p label {
    float:left;
      width:150px;
        font-family:Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
    padding:5px;
      color:#333333;
        font-size:13px;
          font-family:Arial, Helvetica, sans-serif;
            border:1px solid #ddd;
}
form input.formbutton {
    margin-left:150px;
      background:#FE8100;
        border:none;
          font-family:Arial, Helvetica, sans-serif;
            border-bottom:3px solid #F66605;
              color:#ffffff;
                font-weight:bold;
                  padding:5px 10px;
                    font-size:12px;
}
h1 {
    font-size:22px;
      line-height: 1.5;
}
h2 {
    color:#2f2f2f;
      line-height: 1.5;
        font-family:Arial,Helvetica,sans-serif;
          font-size:20px;
            font-weight:bold;
              letter-spacing:-2px;
                padding:0 0 5px;
                  margin:0;
}
h3 {
    color:#666666;
      font-size:18px;
        padding-bottom:10px;
          line-height: 1.5;
}
h4 {
    text-transform:uppercase;
      padding-bottom:10px;
        font-size:20px;
          color:#088599;
            font-weight: 700;
}
h5 {
    padding-bottom:10px;
      font-size:13px;
        color:#666666;
}
ul, ol {
    margin:0 0 35px 35px;
}
li {
    padding-bottom:5px;
}

/** wrapper **/
div#wrapper {
    width:960px;
      margin:0 auto;
        padding:0;
}

/** sitename+nav **/
div#top {
    height:97px;
}
div#top h1 {
    float:left;
      font-size:51px;
        padding-bottom:15px;
}
div#top h1 a {
    color:#666;
      font-weight:normal;
        letter-spacing: -2px;
          float:left;
            text-decoration:none;
}
div#top ul {
    float:right;
      list-style:none;
        margin:0 25px 0;
          padding:50px 0 0;
}
div#top ul li {
    float:left;
      display:block;
        padding:0;
}
div#top ul li a {
    padding:10px 15px;
      float:left;
        color:#fff;
          text-decoration:none;
            display:block;
              font-size:12px;
                font-weight:bold;
                  text-transform:uppercase;
}
div#top ul li.selected a,
div#top ul li.selected a:hover {
    border:none;
      background-color:#F66605;
        text-decoration:none;
}
div#top ul li a:hover {
    text-decoration:underline;
}


/** body **/
div#body {
    background-color:#ffffff;
      -moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 16px;
        padding:10px;
          margin-top:5px;
}

/** content+sidebar styles **/
div#content {
    width:735px;
}
div#content {
    font-size:12px;
}
div.column-left {
    float:left;
      margin-right:20px;
}
div.column-right {
    float:right;
}
div#sidebar {
    width:160px;
}
div#sidebar ul {
    margin:0;
      padding:0;
        list-style:none;
}
div#sidebar li ul {
    border-top:1px solid #ddd;
      margin-bottom:20px;
}
div#sidebar li ul li {
    display:block;
      padding:7px 15px;
        border-bottom:1px solid #ddd;
          color:#777;
}
div#sidebar li ul li a {
    text-decoration:none;
      font-family:"Trebuchet MS", Verdana, Arial;
        font-weight:bold;
}
div#sidebar li ul li a:hover {
    text-decoration:underline;
}
div#sidebar h4 { 
    font-family: Arial, Helvetica, sans-serif;
      font-size:12px;
        text-transform:uppercase;
          font-weight:bold;
            margin:0;
              padding:7px 10px;
}


/** footer **/
div#footer {
    background-color:#222;
      padding:10px;
        color:#999;
}
div#footer a {
    color:#999;
      font-weight:bold;
        text-decoration:underline;
}
div#footer h4 {
    color:#999;
      font-size:18px;
}
div#footer form {
    margin:0;
      padding:0;
}
div#footer form input#searchbutton {
    background-color:#111;
      border-bottom:none;
        margin:0;
}
div#footer form input#searchquery {
    background-color:#333;
      color:#fff;
        font-family:Arial, Helvetica, sans-serif;
          border:none;
            padding:5px 5px 6px;
}
div#footer ul {
    margin:0;
      padding:0;
        list-style:none;
          border-top:1px solid #333;
}
div#footer ul li {
    padding:0;
}
div#footer ul li a {
    text-decoration:none;
      display:block;
        padding:7px 10px;
          border-bottom:1px solid #333;
}
div#footer ul li a:hover {
    background-color:#1f1f1f;
}
div.footer-box {
    width:220px;
      margin-right:20px;
        float:left;
}
div.end-footer-box {
    margin-right:0;
}
div#footer-left {
    margin-top:2px;
      color:#ffffff;
        padding:5px;
}
div#footer-left p {
    padding:0;
      margin:0;
        font-size:10px;
}
div#footer-left a {
    color:#fff;
      font-weight:bold;
        text-decoration:underline;
}
div#footer-right {
    margin-top:2px;
      color:#ffffff;
}
div#footer-right p {
    text-align:right;
      padding:0;
        margin:0;
          font-size:10px;
}
div#footer-right a {
    color:#fff;
      font-weight:bold;
        text-decoration:underline;
}

div#loginmask {
    width: 365px;
      border: 1px solid #cccccc;
        margin: 170px auto;
          padding: 5px;
            background: #EEEEEE;
}

div.piechart_label {
    font-size: 8pt;
      text-align:center;
        padding:2px;
          color:white;
            -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
                border-radius: 5px;
}

/** clear **/
.clear:after {
    content: ".";
      display: block;
        clear: both;
          visibility: hidden;
            line-height: 0;
              height: 0;
}
 
 .clear {
    display: inline-block;
 }
 .clear {
    display: block;
 }

#body.clear {
   min-height: 491px;
}


input.blue
{
    padding: 4px 10px 4px 10px;
      font-family: Lucida Grande, Helvetica, Arial, sans-serif;
        text-decoration: none;
          font-size: 12px;
            font-weight: 500;
              line-height: 1;
                color: #fff;
                  line-height: 1.5;
                    text-shadow: 0 -1px 1px rgba(0,0,0,.3);
                      background-image: linear-gradient(bottom,#52A8E8, #377AD0);
                        background-image: -webkit-linear-gradient(#52A8E8, #377AD0);
                          background-image: -moz-linear-gradient(0% 100% 90deg,#377AD0, #52A8E8);
                            background-image: -o-linear-gradient(bottom,#377AD0, #52A8E8);
                              background-image: -ms-linear-gradient(bottom,#377AD0, #52A8E8);
                                background-color: #52A8E8;
                                  border: 1px solid #20559A;
                                    box-shadow: 0 1px 2px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.3);
}

input.blue:hover, input.blue:focus
{
    background-image: linear-gradient(bottom,#54A1D8, #1967CA);
      background-image: -webkit-linear-gradient(#54A1D8, #1967CA);
        background-image: -moz-linear-gradient(0% 100% 90deg,#1967CA, #54A1D8);
          background-image: -o-linear-gradient(bottom,#1967CA, #54A1D8);
            background-image: -ms-linear-gradient(bottom,#1967CA, #54A1D8);
              background-color: #52A8E8;
                color: #fff;
}

input.blue:active
{
    background-color: #2D7CD1;
      box-shadow: 0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(0,0,100,.5);
        color: #fff;
}

.switch-button-label {
      float: left;

          font-size: 10pt;
              cursor: pointer;
}

.switch-button-label.off {
      color: #adadad;
}

.switch-button-label.on {
      color: #0088CC;
}

.switch-button-background {
      float: left;
          position: relative;

              background: #ccc;
                  border: 1px solid #aaa;

                      margin: 1px 10px;

                          -webkit-border-radius: 4px;
                              -moz-border-radius: 4px;
                                  border-radius: 4px;

                                      cursor: pointer;
}

.switch-button-button {
      position: absolute;

          left: -1px;
              top : -1px;

                  background: #FAFAFA;
                      border: 1px solid #aaa;

                          -webkit-border-radius: 4px;
                              -moz-border-radius: 4px;
                                  border-radius: 4px;
}

