Package: picosafe
Version: 0.3.0
Architecture: armel
Maintainer: Michael Hartmann <hartmann@embedded-projects.net>
Installed-Size: 110
Depends: lua5.1, liblua5.1-posix1, cryptsetup
Suggests: php5-cgi
Priority: optional
Description: picosafe tools and webinterface
 The epitome of addictive and pointless games, xjump is simply a game
 where one jumps from one platform to a higher platform, over and over. If
 you can't keep up with the pace of jumping, the floor swallows you up and
 your game is over.
